<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form>
    <input type="email" name="email" id="email" placeholder="email">
    <input type="name" name="name" id="name" placeholder="name">
    <input type="password" name="password" id="password" placeholder="password">
    <button type="submit"> Enviar </button>
  </form>

</body>

</html>